<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p>Average Rating: <%= @restaurant.rating %></p>

<h2>Reviews:</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.rating %> stars - <%= review.comment %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %>
